<html>
  <head>
    <title>Welcome to Go Fish!</title>
  </head>
  <body>
    <h1>We hope that you enjoy your time today in Go Fish!</h1>
    <p>To get started, we need to know how many people are playing today. Please enter the number below.</p>
    <form method="post" action="/game_setup">
      <label for="player_count">Enter number of players here:</label>
      <input id="player_count" name="player_count" type="text" />
      <input type="submit" />
    </form>
  </body>
</html>
  
